.postingContainer-top {
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  div {
    margin-left: 2rem;
  }
  img {
    width: 13rem;
    height: 6rem;
    border-radius: 0.3rem;
    margin-left: 2rem;
  }
}

.postingContainer-bottom {
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 0 0 0.4rem 0.4rem;
}
